
.anexos_titulo {
    color: var(--color4);
}
.anexos h1:hover {  
    color: var(--Color3);
}

.titulo-proyecto {
    text-align: center;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.proyecto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 181px;
}
.proyecto__imagen {
    max-width: 150px;
    max-height: 300px;
}

.img-laptop {
    max-width: 300px;
}
.proyecto__info {
    margin: 1rem 3rem;
    padding: 0 10rem;
    text-align:justify;
}
.iconos {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 2rem;
   gap: 1rem;
}
.icono {
    max-height: 50px;
    align-items: center;
}
.proyecto__boton {
    display: flex;
    justify-content: center;
}