.construccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
}
.construccion__contenido img{
    max-height: 300px;
}