@media (min-width: 900px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3 {
    color: var(--color4);
    font-weight: normal;
}
.servicio p {
    line-height: 1.5;
    font-size: 1.4rem;
}

.servicio .iconos_diseño, .iconos_desarrollo, .iconos_marketing {
height: 15rem;
width: 15rem;
border-radius: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
} 
.servicio .iconos_diseño {
    background-image: url(../img/hero10.svg);
    } 
.servicio .iconos_desarrollo {
    background-image: url(../img/desarrollo1.jpg.svg);
    } 
.servicio .iconos_marketing {
     background-image: url(../img/Marketing1.jpg.svg);
    } 