.imagen_linkedin {
    max-width: 20rem;
    max-height: 60rem;
    border-radius: 100%;
}
@media (max-width: 768px) {
   .iconos {
    display: flex;
    flex-wrap: wrap;
   }
}
.escuela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    max-height: 194px;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--Color1);
    padding: 2rem;
    border-radius: 1rem;
}
.escuela__a {
    margin: auto;
}
.imagenEscuela {
    max-width: 200px;
    max-height: 150px;
    
}